test1/test_files/invalid_permission
test2/src/__pycache__/lab.cpython-310.pyc
test2/src/__pycache__/printer.cpython-310.pyc
test2/src/__pycache__/process.cpython-310.pyc
test2/src/__pycache__/tester.cpython-310.pyc
test2/src/__pycache__/tests.cpython-310.pyc
test2/src/__pycache__/utils.cpython-310.pyc
test1/bash_outfiles/outfile01
test1/mini_outfiles/outfile01
test1/mini_outfiles/outfile02
test1/outfiles/outfile01
test1/outfiles/outfile02
test1/bash_outfiles/outfile with spaces
test1/mini_outfiles/outfile12345
test1/outfiles/outfile12345
